# Google Sheets configuration
GOOGLE_SHEET_ID=1DfbkAvbWMvQJFUr4_i5TlGuGZImbamxF4GNSh5VNa-Q
GOOGLE_SHEET_TAB=Dashboard Template

# Google service account credentials
# Get these from Google Cloud Console -> IAM -> Service Accounts -> Create JSON key
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
